<nav class="navbar navbar-expand-lg  py-4 shadow-sm ">
    <div class="container-fluid py-2">
        <a class="navbar-brand ms-4 " href="">{{APP_NAME}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2">
                    <a class="nav-link  px-2 " aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link  px-4 " href="{% url 'chatbot' %}">Chatbot</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link  px-4 " href="{% url 'gallery_view' %}">Gallery</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link  px-4 " href="{% url 'upload' %}">Upload</a>
                </li>
                <li class="nav-item me-5">
                    <a class=" nav-link  px-2" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
        </li>
        </ul>
    </div>
    </div>
</nav>